<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semesterproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fun Edu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MusicService"
            android:enabled="true" />
        <activity android:name=".MathNN2"></activity>
        <activity android:name=".MathPNx" />
        <activity android:name=".MathPN4" />
        <activity android:name=".MathAR3" />
        <activity android:name=".RateContentPage" />
        <activity android:name=".MathPropNumContentPage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MathPN3" />
        <activity android:name=".MathPN2" />
        <activity android:name=".MathPN1" />
        <activity android:name=".MathPropN3Quiz" />
        <activity android:name=".MathPropN2Quiz" />
        <activity android:name=".MathPropN1Quiz" />
        <activity android:name=".MathNNQuiz3" />
        <activity android:name=".MathNNQuiz2" />
        <activity android:name=".MathNNQuiz1" />
        <activity android:name=".MathNN3" />
        <activity android:name=".MathNN1" />
        <activity android:name=".MathNegNumContentPage"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MathAR2" />
        <activity android:name=".MathAR1" />
        <activity android:name=".MathARQuiz3" />
        <activity android:name=".MathARQuiz2" />
        <activity android:name=".MathARQuiz1" />
        <activity android:name=".MathArithOperationContentPage"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MathPercentageContent" />
        <activity android:name=".MathQuizPercentage" />
        <activity android:name=".MathRateQuiz" />
        <activity
            android:name=".RatioContentPage"
            android:label="@string/title_activity_ratio_content_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MathContentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MathRatioQuiz1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MathRatioPage"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>