<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semesterproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RateContentPage"></activity>
        <activity android:name=".MathPropNumContentPage" />
        <activity android:name=".MathPN3" />
        <activity android:name=".MathPN2" />
        <activity android:name=".MathPN1" />
        <activity android:name=".MathPropN3Quiz" />
        <activity android:name=".MathPropN2Quiz" />
        <activity android:name=".MathPropN1Quiz" />
        <activity android:name=".MathNNQuiz3" />
        <activity android:name=".MathNNQuiz2" />
        <activity android:name=".MathNNQuiz1" />
        <activity android:name=".MathNN3" />
        <activity android:name=".MathNN2" />
        <activity android:name=".MathNN1" />
        <activity android:name=".MathNegNumContentPage" />
        <activity android:name=".MathAR3" />
        <activity android:name=".MathAR2" />
        <activity android:name=".MathAR1" />
        <activity android:name=".MathARQuiz3" />
        <activity android:name=".MathARQuiz2" />
        <activity android:name=".MathARQuiz1" />
        <activity android:name=".MathArithOperationContentPage" />
        <activity android:name=".MathPercentageContent" />
        <activity android:name=".MathQuizPercentage" />
        <activity android:name=".MathRateQuiz" />
        <activity
            android:name=".RatioContentPage"
            android:label="@string/title_activity_ratio_content_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MathContentActivity" />
        <activity android:name=".MathRatioQuiz1" />
        <activity android:name=".MathRatioPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>