<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.semesterproject">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fun Edu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScienceQuizMatterStates"></activity>
        <activity android:name=".ScienceMatterChanges2" />
        <activity android:name=".ScienceMatterChanges1" />
        <activity android:name=".ScienceMatterStates" />
        <activity android:name=".ScienceOs2Muscularsystem" />
        <activity android:name=".ScienceOs2Skeletalsystem" />
        <activity android:name=".ScienceOs2Digestivesystem" />
        <activity android:name=".ScienceOs2Content" />
        <activity android:name=".ScienceOs1Circulatorysystem" />
        <activity android:name=".ScienceOs1Excretorysystem" />
        <activity android:name=".ScienceOs1Respiratorysystem" />
        <activity android:name=".ScienceOs1Nervoussystem" />
        <activity android:name=".ScienceOs1Content" />
        <activity android:name=".ScienceOS2content" />
        <activity android:name=".ScienceOS1content" />
        <activity android:name=".ScienceMatterContent" />
        <activity
            android:name=".activity_science_content"
            android:theme="@style/AppTheme.SlideActivityTheme" />

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".MathNN2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".MathPNx"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPN4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathAR3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".RateContentPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPropNumContentPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPN3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPN2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPN1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPropN3Quiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPropN2Quiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPropN1Quiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNNQuiz3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNNQuiz2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNNQuiz1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNN3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNN1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathNegNumContentPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathAR2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathAR1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathARQuiz3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathARQuiz2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathARQuiz1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathArithOperationContentPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathPercentageContent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathQuizPercentage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathRateQuiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".RatioContentPage"
            android:label="@string/title_activity_ratio_content_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathContentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathRatioQuiz1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MathRatioPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideActivityTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>